// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: #F4F4F4;
  text-align: center;
};

.banner {
 margin-left: 0px;
 margin-right: 0px;
 background: red;
 padding: 20px;
 border-radius: 5px;

};

 h1 {
   font-size: 50px;
 };
